Package: com.nahtedetihw.blurwall
Name: Blurwall
Depends: mobilesubstrate, ws.hbang.common, com.spark.libsparkcolourpicker
Version: 1.1
Architecture: iphoneos-arm
Description: Blur Wallpaper!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks

