<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.blurwallprefs</string>
			<key>key</key>
			<string>enabledHS</string>
			<key>label</key>
			<string>EnableHS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AlphaHS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.blurwallprefs</string>
			<key>key</key>
			<string>alphaValueHS</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.blurwallprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>StyleHS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.blurwallprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>wallBlurStyleHS</string>
			<key>label</key>
			<string>HomeScreen Styles</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Ultra Thin</string>
				<string>Ultra Thin - Consistent Light</string>
				<string>Ultra Thin - Consistent Dark</string>
				<string>Thin</string>
				<string>Thin - Consistent Light</string>
				<string>Thin - Consistent Dark</string>
				<string>Normal</string>
				<string>Normal - Consistent Light</string>
				<string>Normal - Consistent Dark</string>
				<string>Thick</string>
				<string>Thick - Consistent Light</string>
				<string>Thick - Consistent Dark</string>
				<string>Chrome</string>
				<string>Chrome - Consistent Light</string>
				<string>Chrome - Consistent Dark</string>
			</array>
			<key>PostNotification</key>
			<string>com.nahtedetihw.blurwallprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Thin and Chrome conforms to ios 13 dark mode toggle, while Light and Dark remain consistant across Appearance changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.blurwallprefs</string>
			<key>key</key>
			<string>enabledLS</string>
			<key>label</key>
			<string>EnableLS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AlphaLS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.blurwallprefs</string>
			<key>key</key>
			<string>alphaValueLS</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<integer>0</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.blurwallprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>StyleLS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.blurwallprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>wallBlurStyleLS</string>
			<key>label</key>
			<string>LockScreen Styles</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Ultra Thin</string>
				<string>Ultra Thin - Consistent Light</string>
				<string>Ultra Thin - Consistent Dark</string>
				<string>Thin</string>
				<string>Thin - Consistent Light</string>
				<string>Thin - Consistent Dark</string>
				<string>Normal</string>
				<string>Normal - Consistent Light</string>
				<string>Normal - Consistent Dark</string>
				<string>Thick</string>
				<string>Thick - Consistent Light</string>
				<string>Thick - Consistent Dark</string>
				<string>Chrome</string>
				<string>Chrome - Consistent Light</string>
				<string>Chrome - Consistent Dark</string>
			</array>
			<key>PostNotification</key>
			<string>com.nahtedetihw.blurwallprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Thin and Chrome conforms to ios 13 dark mode toggle, while Light and Dark remain consistant across Appearance changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>ETHN</string>
			<key>user</key>
			<string>EthanWhited</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>BlurWall 1.2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2020 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
